<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>selector</key>
			<string>top</string>
			<key>modifiers</key>
			<array>
				<string>CMD</string>
				<string>ALT</string>
				<string>CTRL</string>
			</array>
			<key>key</key>
			<integer>126</integer>
			<key>label</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>bottom</string>
			<key>modifiers</key>
			<array>
				<string>CMD</string>
				<string>ALT</string>
				<string>CTRL</string>
			</array>
			<key>key</key>
			<integer>125</integer>
			<key>label</key>
			<string>Bottom</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>left</string>
			<key>modifiers</key>
			<array>
				<string>CMD</string>
				<string>ALT</string>
				<string>CTRL</string>
			</array>
			<key>key</key>
			<integer>123</integer>
			<key>label</key>
			<string>Left</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>right</string>
			<key>modifiers</key>
			<array>
				<string>CMD</string>
				<string>ALT</string>
				<string>CTRL</string>
			</array>
			<key>key</key>
			<integer>124</integer>
			<key>label</key>
			<string>Right</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>selector</key>
			<string>top_left</string>
			<key>modifiers</key>
			<array>
				<string>CMD</string>
				<string>CTRL</string>
			</array>
			<key>key</key>
			<integer>123</integer>
			<key>label</key>
			<string>Top Left</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>bottom_left</string>
			<key>modifiers</key>
			<array>
				<string>CMD</string>
				<string>CTRL</string>
				<string>SHIFT</string>
			</array>
			<key>key</key>
			<integer>123</integer>
			<key>label</key>
			<string>Bottom Left</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>top_right</string>
			<key>modifiers</key>
			<array>
				<string>CMD</string>
				<string>CTRL</string>
			</array>
			<key>key</key>
			<integer>124</integer>
			<key>label</key>
			<string>Top Right</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>bottom_right</string>
			<key>modifiers</key>
			<array>
				<string>CMD</string>
				<string>CTRL</string>
				<string>SHIFT</string>
			</array>
			<key>key</key>
			<integer>124</integer>
			<key>label</key>
			<string>Bottom Right</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>selector</key>
			<string>fullscreen</string>
			<key>modifiers</key>
			<array>
				<string>CMD</string>
				<string>ALT</string>
				<string>CTRL</string>
			</array>
			<key>key</key>
			<integer>46</integer>
			<key>label</key>
			<string>Full Screen</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>center</string>
			<key>modifiers</key>
			<array>
				<string>CMD</string>
				<string>ALT</string>
				<string>CTRL</string>
			</array>
			<key>key</key>
			<integer>8</integer>
			<key>label</key>
			<string>Center</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>selector</key>
			<string>moveLeft</string>
			<key>modifiers</key>
			<array>
				<string>ALT</string>
				<string>CTRL</string>
			</array>
			<key>key</key>
			<integer>123</integer>
			<key>label</key>
			<string>Move Left</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>moveRight</string>
			<key>modifiers</key>
			<array>
				<string>ALT</string>
				<string>CTRL</string>
			</array>
			<key>key</key>
			<integer>124</integer>
			<key>label</key>
			<string>Move Right</string>
		</dict>
	</array>
</array>
</plist>
